<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Hack Agents at Mila</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Hack Agents at Mila is a hackathon hosted at Mila in Montreal, Quebec. We'll be hacking at the world-famous institute, building AI agents and related technologies.">

  <!-- Twitter Handle -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mila-hacks" />
  <meta name="twitter:creator" content="@mila-hacks" />
  <meta name="twitter:title" content="Hack Agents at Mila">
  <meta name="twitter:description" content="Hack Agents at Mila is a hackathon hosted at Mila in Montreal, Quebec. We'll be hacking at the world-famous institute, building AI agents and related technologies.">
  <meta name="twitter:image" content="https://mlh.io/assets/logos/mlh-logo-color.svg">

  <!-- Open Graph -->
  <meta property="og:site_name" content="Hack Agents at Mila" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Hack Agents at Mila" />
  <meta property="og:description" content="Hack Agents at Mila is a hackathon hosted at Mila in Montreal, Quebec. We'll be hacking at the world-famous institute, building AI agents and related technologies." />
  <meta property="og:image" content="https://mlh.io/assets/logos/mlh-logo-color.svg" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,700italic" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gridworld.css') }}">
  
  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='js/gridworld.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
</head>
